<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">


    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">

            Samantha John

          </li>

          <li><a class="u-email" href="mailto:s@samanthajohn.com">s@samanthajohn.com</a></li>

        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">




          <li><a href="https://www.twitter.com/samj0hn"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg> <span class="username">samj0hn</span></a></li>



        </ul>

      </div>

    </div>

  </div>

</footer>
